.Playaudio {
    width: 100dvw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 5dvh;
    align-items: center;
    justify-content: center;
    gap: 10dvh;
    margin: 10dvh 0;
    padding: 3dvh 1.5dvw;
}

.nov {
    width: 100dvw;
    height: 10dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1dvw;
    font-size: 34px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
}

.nov span {
    width: 40dvw;
    border-bottom: 1px solid #000;
}

.Playaudio-part {
    width: 22dvw;
    height: 65dvh;
    background-color: #f1f4f9;
    padding: 1rem;
    border-radius: 15px;
    border-top-right-radius: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3dvh;
}

.Playaudio-part img {
    width: 14dvw;
    height: auto;
    border-radius: 0.5rem;
}

.Playaudio-part input[type="range"] {
    width: 100%;
    height: 5px;
    accent-color: #436ee6;
    outline: none;
}

.track-duration {
    display: flex;
    align-items: center;
    gap: 15dvw;
    justify-content: space-between;
    margin-top: 10px;
}

.track-duration>p {
    font-size: 10px;
    font-weight: 500;
    color: #18181f;
    margin: 0;
}

button {
    width: 3rem;
    height: 3rem;
    font-size: 34px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: #436ee6;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin: 5px auto 10px auto;
}